<div id="clearance" class="container mx-auto my-20 dark:bg-gray-700 p-10 rounded-md">
  <h2 class="text-center text-3xl text-white font-bold mb-10">Admin login</h2>

  <%= render partial: '/sessions/form' %>

</div>